
.staffPage {
  background-color: #F5F5F5;
  position: relative;
  z-index: 0;
}

.staffPage:nth-child(2), .staffPage:nth-child(3) {
  padding-top: 200px;
}

.staffPage:nth-child(4), .staffPage:nth-child(5), .staffPage:nth-child(6) {
  padding: 64px 0;
}

.staffPage:nth-child(2) .staffWrapper, 
.staffPage:nth-child(4) .staffWrapper, 
.staffPage:nth-child(6) .staffWrapper {
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 508px;
}

.staffPage:nth-child(3) .staffWrapper, .staffPage:nth-child(5) .staffWrapper {
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  height: 508px;
  flex-direction:row-reverse;
}

.memberWrapper {
  width: 81.25%;
  margin: auto;
}



.textWrapper {
  width: 50%;
}

.textContainer {
  padding-top: 0;
  width: 72.13%;
}

.staffPage:nth-child(3) .memberWrapper .staffWrapper .textWrapper .textBox, 
.staffPage:nth-child(5) .memberWrapper .staffWrapper .textWrapper .textBox {
  margin-left: 68px;
}

.staffPage:nth-child(3) .memberWrapper .staffWrapper .imageWrapper, 
.staffPage:nth-child(5) .memberWrapper .staffWrapper .imageWrapper {
  margin-right: 68px;
}

.imageWrapper {
  height: 300px;
  width: 400px;
}

.staffImage {
  width: 100%;
  height:100%;
}

.postName {
  position: relative;
  font-size: 40px;
  letter-spacing: 4px;
  display: flex;
  justify-content: end;
  margin-right: 15.625%;
}

.postName::after{
  color: #EF9B38;
  padding-left: 16px;
}

.ceoPost::after{
  content: "CEO";
}

.ceoPost::before {
  content: "";
  background-color: #FAB805;
  position: absolute;
  width: 19%;
  height: 4px;
  right: 0px;
  bottom: 0px;
}

.regularPost::after {
  content: "Member";
}

.regularPost::before {
  content: "";
  background-color: #FAB805;
  position: absolute;
  width: 28%;
  height: 4px;
  right: -3px;
  bottom: 0px;
}

.otherPost {
  font-size: 0;
}

.staffName {
  position: relative;
  display: inline-block;
  font-size: 24px;
  width: 156px;
}

.staffName::after {
  content: "";
  position: absolute;
  background-color: #000;
  height: 1px;
  width: 256.410256%;
  left: -15px;
  bottom: -6px;
}



.beliefText {
  margin-top: 16px;
}